.logo img {
  width: 100%;
  max-width: 250px;
  display: block;
  text-align: center;
  margin: 15px auto;
}
img {
  vertical-align: middle;
}
.navbar-inner {
  border-bottom: 2px solid #da6427;
}
.custom-color {
  color: #da6427;
  background-color: #fbeee8;
  font-weight: 600;
  font-size: 2rem;
}
.custom-font-color {
  color: #da6427;
  font-weight: 600;
  font-size: 2rem;
}
